<!DOCTYPE html>
<html class="gt-ie8 gt-ie9 not-ie pxajs" ng-app="app">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>yii...</title>
		<link rel="shortcut icon" href="public/images/SAGA-30px.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

		<script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
		<script type="text/javascript" src="control/js/library/jquery.min.js"></script>
        <script src="control/js/include.js"></script>

</head>

<body ng-controller='pageController' style="" >

  <div class="container">
    <div class="col-lg-12">
        
        <div class="col-lg-4" >
        	<div class="input-group" style="margin: 10px 0 0 0;">
 				<input type="text" style=" height:32px; border-radius: 5px 0 0 5px; border-color: #555;" 
 				class="form-control" placeholder="Pesquisar">
  					<span class="input-group-addon" style="
					    background: #333;
					    border-color: #555;
					    border-radius: 0 5px 5px 0;
					"><span class="glyphicon glyphicon-search"></span></span>
			</div>
     	</div>
        
        <div class="col-lg-4" style="text-align:center;" >
            <img src="public/images/logo.png" style="max-height:80px; margin: 5px 0;" />
		</div>

		<div class="col-lg-4" style="font-size:12px;" >
          	<ul class="nav navbar-nav navbar-right" style="color: #333;">                
				<li style="text-align: center; " ng-click="">
					<a href="#">
						<span class="glyphicon glyphicon-user " style="font-size: 20px;"></span>
						<br> Minha conta </a>
				</li>
                <li style="text-align: center;" ng-click="carrinho('carrinho');">
                	<a >
                		<span class="glyphicon glyphicon-shopping-cart" style="font-size: 20px;"></span>
                		<br> Carrinho {{titulo}}</a>
                </li>
            </ul>
        </div>
         <div class="ola_visitante" ng-click="loginUser()">Olá, {{usuario_logado}}</div>

	</div>
  </div>

        <!-- Navigation -->
	<nav class="navbar navbar-inverse" 
		 style="background:#444; box-shadow:inset 0 0 100px rgba(0,0,0,.5); border-radius:0;" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	        </div>
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <li>
	                    <a href="#">Pagina Inicial</a>
	                </li>
	                <li>
	                    <a href="#">Coleções</a>
	                </li>
	                <li>
	                    <a href="#">Cantinho da cliente</a>
	                </li>
	                <li>
	                    <a href="#contato">Contato</a>
	                </li>
	            </ul>

	            <ul class="nav navbar-nav navbar-right" ng-init="searchCategory();">
	        		<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categoria <span class="glyphicon glyphicon-th"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li  ng-repeat="i in scopeList['category']"><a href="#{{i.cat_id}}">{{i.cat_nome}}</a></li>
			          </ul>
			        </li>
	      		</ul>
	        </div>
	       
	        <!-- /.navbar-collapse -->
	    </div>
	    <!-- /.container -->
	</nav>

    <!-- Page Content -->
    <div class="container">
        <div class="col-lg-12" style="background:#fff; margin:20px 0;">
        	<div class="contentNgView" ng-view>
        		
        		

        	</div>
        </div>
    </div>

</body>

</html>
