<!DOCTYPE html>
<html class="gt-ie8 gt-ie9 not-ie pxajs" ng-app="app">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>yii...</title>
		<link rel="shortcut icon" href="public/images/SAGA-30px.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

		<script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
		<script type="text/javascript" src="control/js/library/jquery.min.js"></script>
        <script src="control/js/include.js"></script>

</head>

<body ng-controller='pageController' style="" >

  <div class="container">
    <div class="col-lg-12">
        
        <div class="col-lg-4" >
        	<div class="col-lg-12" style="margin: 0 0 10px 0;">
          	<ul class="nav navbar-nav" style="color: #333;">                
				<li style="text-align: center; " ng-click="">
					<a >
						<span class="glyphicon glyphicon-user " style="font-size: 14px;"></span>
						Minha conta </a>
				</li>
                <li ng-click="carrinho('carrinho');" style="border-left:1px solid #444; text-align: center;">
                	<a >
                		<span class="glyphicon glyphicon-shopping-cart" style="font-size: 14px;"></span>
                		 Meus pedidos</a>
                </li>
            </ul>
            </div>
        	<div class="input-group" >
 				<input type="text" style=" height:32px; border-radius: 5px 0 0 5px; border-color: #555;" 
 				class="form-control" placeholder="Pesquisar">
  					<span class="input-group-addon" style="
					    background: #333;
					    border-color: #555;
					    border-radius: 0 5px 5px 0;
					"><span class="glyphicon glyphicon-search"></span></span>
			</div>
     	</div>
        
        <div class="col-lg-4" style="text-align:center;" >
            <img onclick="window.location.href='#/'" ng-click="carregarProdutos();" src="public/images/logo.png" style="cursor:pointer;max-height:80px; margin: 5px 0;" />
		</div>

		<div class="col-lg-4" style="font-size:12px;" >
          	<ul class="nav navbar-nav navbar-right" style="color: #333;">                
				<li style="text-align: center; " onclick="window.location.href = '#/contato';">
					<a >
						<span class="glyphicon glyphicon-phone-alt" style="font-size: 20px;"></span>
						<br> Fale conosco </a>
				</li>
                <li style="text-align: center;" ng-click="carrinho('carrinho');">
                	<a >
                		<span class="glyphicon glyphicon-shopping-cart" style="font-size: 20px;"></span>
                		<br> Carrinho ( {{carrinhoItens}} {{item}} )</a>
                </li>
            </ul>
        </div>
         <div class="ola_visitante" >Olá, 
         <span ng-click="loginUser()"> {{usuario_logado}} </span>
         <span ng-click="logoOfIn()"> {{ofIN}} </span></div>

	</div>
  </div>

        <!-- Navigation -->
	<nav class="navbar navbar-inverse" 
		 style="background:#444; box-shadow:inset 0 0 100px rgba(0,0,0,.5); border-radius:0;" role="navigation">
	    <div class="container">
	    <div class="col-lg-12">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	        </div>
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul ng-init="searchColecoes();" class="nav navbar-nav">
	                <li ng-repeat="i in scopeList['colecoes']">
	                    <a ng-click="buscarProdutos(i.col_guid, 'colecao', i.col_nome)">{{i.col_nome}}</a>
	                </li>
	                <!--
	                <li>
	                    <a href="#">Cantinho da cliente</a>
	                </li> -->
	            </ul>

	            <ul class="nav navbar-nav navbar-right" ng-init="searchCategory();">
	        		<li class="dropdown showHideCategoria" >
			          <a href="#" class="dropdown-toggle" style="color:#333; margin:0 0 -2px 0; height:49px;
			          background:#fff;" data-toggle="dropdown">Categorias <span style="font-size:18px; margin-left:5px; " class="glyphicon glyphicon-th"></span></a>
			          <ul class="dropdown-menu " style="width:250px;margin-top: 2px;border: 1px solid #999;padding: 2px; box-shadow: 0 0 15px #999;" role="menu">
			            <li  ng-repeat="i in scopeList['category']" class="menu-categoria">
			            	<a style="height: 39px;" ng-click="buscarProdutos(i.cat_id, 'categoria', i.cat_nome);">{{i.cat_nome}}</a>
			            </li>
			          </ul>
			        </li>
	      		</ul>
	        </div>
	       
	        <!-- /.navbar-collapse -->
	    </div></div>
	    <!-- /.container -->
	</nav>

    <!-- Page Content -->
    <div class="container">
        <div class="col-lg-12" style="background:#fff; margin:20px 0;">
        <ol class="breadcrumb">
        <li>Você está em: </li>
		  <li><a href="#">Home</a></li>
		  <li><a>{{pageAcesso}}</a></li>
		  <li ng-show="{{produtoName}}" class="active">{{produtoName}}</li>
		</ol>
        	<div class="contentNgView" ng-view>
        		
        		

        	</div>
        </div>
    </div>

</body>

</html>
