<div ng-init="carregarBanner();">
	{{scopeList['banner']}}
</div><script type="text/javascript">$('.carousel').carousel();</script>

<div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">



	                  <div ng-repeat="i in scopeList['banner']" class="item {{i.active}}" >
	                    <img style="max-height:300px;" src="public/images/banner/{{i.ba_imagem}}" alt="">
	                    <div class="carousel-caption">
	                    </div>
	                  </div>
	              	

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div></div>