<h3>Central de atendimento</h3>
<hr />
  <div class="col-sm-6">
<div> 
<p>Seu contato é importante, dúvidas, sugestões, criticas, parcerias, outros.</p>

</div>

<div style="border:1px solid #f1f1f1; border-left:4px solid #d43f3a;  padding: 5px 20px;">
    <h4>FALE CONOSCO</h4>
    <p><span class="glyphicon glyphicon-earphone" style="font-size:20px; margin:0 5px;"></span> (00) 0000-0000</p>
    <p><img  src="public/images/whatzapp.jpg" style="cursor:pointer;max-height:30px; margin: 5px 0;" /> Whatsapp (00) 0000</p>
    <p><img src="public/images/facebook.jpg" style="cursor:pointer;max-height:25px; margin: 5px 0;" /> 
    <a href=""> Facebook </a></p>
     <p><span class="glyphicon glyphicon-envelope" style="font-size:22px; margin:0 5px 0 0;"></span> email@dominio.com.br</p>
  </div>
</div>


  <div class="col-sm-6">
  <h4>Envie-nos um e-mail </h4>
  <p>Preenchendo os campos abaixo, e logo retornaremos o seu contato.<p>	

	 <form role="form">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Nome</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Telefone</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Assunto</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
	  </div>
	  <div class="form-group">
	    <label>Messagem</label>
	    <textarea class="form-control" rows="3"></textarea>
	  </div>
	 
	 
	  <button type="submit"  class="btn btn-danger form-control">Enviar</button>
	</form>
</div>