<div class="col-md-4">	
	<div class="panel panel-danger" style="border-radius:2px;">
      <div class="panel-heading" style="background:#e3503e; ">
        <h3 class="panel-title" style="color:#fff;">DADOS PESSOAIS</h3>
      </div>
      <div class="panel-body">

				<div ng-show="!showHideUserCadastro">
		        	<button ng-click="showHideUserCadastro = !showHideUserCadastro;"  class="form-control btn btn-success" style="float:right;  border-radius:2px" > <i class="glyphicon glyphicon-new-window"></i>  Novo cliente </button>
		        	<br /><br />
		        	<hr />
		        </div>
		        

          <p>E-Mail</p>
          <input type="text" class="form-control"  id="" placeholder="e-mail">
          <br />

	          <div ng-show="showHideUserCadastro" >
		          <p>Primeiro nome </p>
		          <input type="text" class="form-control" style="width:200px;" id="" placeholder="Primeiro nome">
		           <br />
		          <p>Ultimo nome</p>
		          <input type="text" class="form-control" style="width:200px;"  id="" placeholder="Ultimo nome">
		          <br />
		          <p>CPF</p>
		          <input type="text" class="form-control" style="width:200px;" id="" placeholder="nome">
		          <br />
				  <p>Telefone </p>
		          <input type="text" class="form-control" style="width:200px;" id="" placeholder="e-mail">
		          <br />

		          <p>Senha:</p>
		          <input type="password" class="form-control" style="width:145px; float:left; margin-right:15px;" id="" placeholder="senha">
		          <input type="password" class="form-control" style="width:145px;" id="" placeholder="repita senha">
		          <br />
		                      <button ng-click="continuarCompra()"  class="form-control btn btn-danger" style="float:right;  border-radius:2px" >IR PARA ENTREGA <i class="glyphicon glyphicon-arrow-right"></i></button>
		      </div>
	          <div ng-hide="showHideUserCadastro" >

	          	<div ng-hide="enviarSenhaShow">

		          <p>Senha:</p>
		          <input type="password" class="form-control" id="" placeholder="senha">
		           <a ng-click="enviarSenhaShow = !enviarSenhaShow;" style="cursor:pointer;" >Esqueci à senha?</a> <br />

		          <br />

		          <button ng-click="continuarCompra()"  class="form-control btn btn-danger" style="float:right;  border-radius:2px" > <i class="glyphicon glyphicon-user"></i>  ENTRAR </button>

		        </div>

		        <div ng-show="enviarSenhaShow">
		        	<button ng-click="continuarCompra()"  class="form-control btn btn-danger" style="float:right;  border-radius:2px" > <i class="glyphicon glyphicon-user"></i>  Alterar senha </button>
		        </div>


		              	
		      </div>

      </div>
    </div>
</div>

<div class="col-md-4">	
	<div class="panel panel-danger" style="border-radius:2px;">
      <div class="panel-heading" style="background:#e3503e; ">
        <h3 class="panel-title" style="color:#fff;">ENTREGA</h3>
      </div>
      <div class="panel-body">
        
      <input type="text" class="form-control" style="width:130px;" id="" placeholder="_____-___ CEP">

      </div>
    </div>
</div>

<div class="col-md-4">	
	<div class="panel panel-danger" style="border-radius:2px;">
      <div class="panel-heading" style="background:#e3503e; ">
        <h3 class="panel-title" style="color:#fff;">RESUMO DO PEDIDO</h3>
      </div>
      <div class="panel-body">
          <div class="table-responsive">
    <table class="table">
      
      <tbody ng-repeat="i in scopeList['carrinho']">

		 <tr>
          <td colspan="4">
            {{i.nome}}
         </td>
        </tr>

        <tr  >

          <td><img src="public/images/produtos/{{i.imagem}}" style="width: 50px; height: 45px;" /><br />
          	<span style="font-style:italic; font-size:10px;"> codigo: {{i.codigo}} </span></td>
          <td  style="vertical-align:middle; text-align: center;">
		  <span ng-click="quantidadeCarrinho($index, false);" ng-hide="(i.quantidade > 1) ? false : true;"
		  		class="glyphicon glyphicon-minus-sign addQuantidadeProduto" ></span><br />
          		{{i.quantidade}} <br />
          <span ng-click="quantidadeCarrinho($index, true);"  ng-hide="(i.quantidade >= i.qt_max) ? true : false;"
          		class="glyphicon glyphicon glyphicon-plus-sign addQuantidadeProduto" ></span></td>
        
          <td  style="vertical-align:middle; font-weight:bold;">{{i.preco}}</td>
          <td  style="vertical-align:middle; font-weight:bold;">{{i.preco_total}}</td>
        </tr>
      </tbody>

 <tr>
          <td colspan="2">
            
          </td>
        <td style="font-weight:bold;">
            Subtotal:
          </td>
          <td  style="vertical-align:middle; font-weight:bold;">{{preco_subTotal}}</td>
        </tr>


      <tr>
          <td colspan="2">
            
          </td>
        <td style="font-weight:bold;">
            Frete:
          </td>
          <td  style="vertical-align:middle; font-weight:bold;">{{preco_frete}}</td>
        </tr>

         <tr>
          <td colspan="2">
            
          </td>
        <td style="font-weight:bold;">
            VALOR TOTAL:
          </td>
          <td  style="vertical-align:middle; font-weight:bold;">{{preco_total}}</td>
        </tr>


    </table>
  </div>
      </div>
    </div>
</div>

		        	<button ng-click="continuarCompra()"  class="form-control btn btn-danger" style="float:right;  border-radius:2px" > <i class="glyphicon glyphicon-usd"></i>  IR  PARA PAGAMENTO</button>

