<style>
  .tamanho_sandalia{
    float: left;
    padding: 5px 10px;
    border: 2px solid #999;
    margin: -5px 10px;
    cursor: pointer;
  }

  .tamanho_sandalia:hover{
    background: #999;
  }
</style>


        <!-- Include Cloud Zoom CSS. -->
        <link rel="stylesheet" type="text/css" href="view/modulos/site/produtos/cloudzoom.css" />

        <!-- Include Cloud Zoom script. -->
        <script type="text/javascript" src="view/modulos/site/produtos/cloudzoom.js"></script>

        <!-- Call quick start function. -->
        <script type="text/javascript">
            function carregarGaleria(){
                CloudZoom.quickStart();
                $('.cloudzoom-ajax-loader').hide();
            }
           setTimeout(carregarGaleria, 500);

        </script>    

        <div class="col-sm-5" style="text-align:center; background:#444; padding:0;">
            <img class = "cloudzoom" src = "public/images/produtos/{{scopeList['produto'].pro_img_1}}"
                 data-cloudzoom = "zoomImage: 'public/images/produtos/{{scopeList['produto'].pro_img_1}}'" />
            <br/>
            <img ng-repeat="i in imgProduto" class = 'cloudzoom-gallery' style="width:92px; height:80px;" src = "public/images/produtos/{{i}}"  data-cloudzoom = "useZoom: '.cloudzoom', image: 'public/images/produtos/{{i}}', zoomImage: 'public/images/produtos/{{i}}' " >
        </div>

        <div class="col-sm-7">
           <h3>{{scopeList['produto'].pro_nome}}</h3>
           <div style="float:right; font-size:12px; font-style:italic; margin:3px 0 0 10px;">Cód: {{scopeList['produto'].pro_codigo}}</div>
           <hr />
           <div class="col-sm-12" >
              <div class="popover bottom col-sm-12" style="display:block; z-index:0; position:relative; border-radius:0; min-width:100%;">
                <div class="arrow"></div>
                <h3 class="popover-title" style="font-weight:bold;">Descrição</h3>

                <div class="popover-content">
                  <p>{{scopeList['produto'].pro_descricao}}</p>
                </div>
              </div>
           </div>

           <div class="col-sm-12" style="margin-top:20px;">

            De <span style="font-weight:bold;"> R$ {{scopeList['produto'].pro_preco_de}}</span><br />
            Por <span style="font-weight:bold;"> R$ {{scopeList['produto'].pro_preco_por}}</span> 
            <span style="font-size:12px; font-style:italic;"> à vista </span>
           </div>

           <div class="col-sm-12" style="margin-top:20px;  min-height:25px;">
            <div style="float:left; font-weight:bold;">Tamanho:</div>
            <div class="classTamanho" style="float:left;">
              <div ng-repeat="i in scopeList['produto'].pro_tamanho"
                   ng-click="medidaProduto(i.trim())"
                   class="tamanho_sandalia  {{i}}" >
                  {{i}}
             </div>
            </div>
           </div>
           <div class="col-sm-12" style="margin-top:10px; ">
            <div class="alert alert-danger" style="position:relative;" ng-show="msgTamanho" role="alert">{{msgTamanho}}</div>
           </div>

          <div class="col-sm-12" ng-click="addCarrinho()" style="margin-top:10px;">
            <button class="btn btn-danger" style="border-radius:2px" >Comprar <i class="glyphicon glyphicon-shopping-cart"></i></button>
            <a ng-click="carrinho()" class="btn btn-default" style="float:right; border-radius:2px" >Ver <i class="glyphicon glyphicon-shopping-cart"></i></a>
          </div>
