div.eco-category{
	margin-top: 0px;
}
div.eco-category div{
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
div.eco-category a{
	margin-left: 10px;
	color: #555;
}
div.eco-category a:hover{
	text-decoration: none;
	color: #d9534f;
}

div.eco-category a.active{
	color: #d9534f;
}

