<div class="panel panel-default">
  <div class="panel-heading"><h4>Lista de produtos:</h4></div>

  <div class="panel-body">
  
    <div class="table-responsive">  
      <table class="table table-bordered table-striped">
        <colgroup>
          <col class="col-xs-4">
          <col class="col-xs-2">
          <col class="col-xs-2">
          <col class="col-xs-1">
        </colgroup>
        <thead>
          <tr class="btn-primary">
            <th>Nome</th>
            <th>Fabricante</th>
            <th>Modelo</th>
            <th>Preço</th>
          </tr>
        </thead>
          <tr  ng-repeat="i in scopeList['data']">
            <td>{{i.name}}</td>
            <td>{{i.fabricante}}</td>
            <td>{{i.modelo}}</td>
            <td>{{i.preco}}</td>
          </tr> 
      </table>
        <div style="margin:0 auto; text-align:center;">
          <pagination boundary-links="" style="margin:0 auto;" total-items="totalItems" 
      total-items="" max-size="5" boundary-links="true"  ng-click="setPage()"  rotate="false" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

          
        </div>
    </div>
  
  </div>

</div>